In [25]:
from openpyxl import *

In [26]:
wb =load_workbook('exam.xlsx')

In [27]:
ws = wb.active

In [28]:
ws

In [29]:
g = ws.rows

In [30]:
g

In [31]:
cells =next(g)
cells

(<Cell 'Sheet1'.A1>,
 <Cell 'Sheet1'.B1>,
 <Cell 'Sheet1'.C1>,
 <Cell 'Sheet1'.D1>)

In [32]:
keys = []

In [33]:
for cell in cells:
    keys.append(cell.value)
    print(keys)

['name']
['name', 'math']
['name', 'math', 'literature']
['name', 'math', 'literature', 'science']

In [34]:
keys

['name', 'math', 'literature', 'science']

In [35]:
student_data = []

In [36]:
for row in g:
    dic = {k : c.value for k, c in zip(keys, row)}
    student_data.append(dic)
    print(row)
    print(dic)
    print(dic)

(<Cell 'Sheet1'.A2>, <Cell 'Sheet1'.B2>, <Cell 'Sheet1'.C2>, <Cell 'Sheet1'.D2>)
{'name': 'greg', 'math': 95, 'literature': 65, 'science': 75}
{'name': 'greg', 'math': 95, 'literature': 65, 'science': 75}
(<Cell 'Sheet1'.A3>, <Cell 'Sheet1'.B3>, <Cell 'Sheet1'.C3>, <Cell 'Sheet1'.D3>)
{'name': 'john', 'math': 25, 'literature': 30, 'science': 55}
{'name': 'john', 'math': 25, 'literature': 30, 'science': 55}
(<Cell 'Sheet1'.A4>, <Cell 'Sheet1'.B4>, <Cell 'Sheet1'.C4>, <Cell 'Sheet1'.D4>)
{'name': 'yang', 'math': 50, 'literature': 45, 'science': 40}
{'name': 'yang', 'math': 50, 'literature': 45, 'science': 40}
(<Cell 'Sheet1'.A5>, <Cell 'Sheet1'.B5>, <Cell 'Sheet1'.C5>, <Cell 'Sheet1'.D5>)
{'name': 'timothy', 'math': 15, 'literature': 65, 'science': 90}
{'name': 'timothy', 'math': 15, 'literature': 65, 'science': 90}
(<Cell 'Sheet1'.A6>, <Cell 'Sheet1'.B6>, <Cell 'Sheet1'.C6>, <Cell 'Sheet1'.D6>)
{'name': 'melisa', 'math': 100, 'literature': 100, 'science': 100}
{'name': 'melisa', 'math': 100, 'literature': 100, 'science': 100}
(<Cell 'Sheet1'.A7>, <Cell 'Sheet1'.B7>, <Cell 'Sheet1'.C7>, <Cell 'Sheet1'.D7>)
{'name': 'thor', 'math': 10, 'literature': 15, 'science': 20}
{'name': 'thor', 'math': 10, 'literature': 15, 'science': 20}
(<Cell 'Sheet1'.A8>, <Cell 'Sheet1'.B8>, <Cell 'Sheet1'.C8>, <Cell 'Sheet1'.D8>)
{'name': 'elen', 'math': 25, 'literature': 50, 'science': 100}
{'name': 'elen', 'math': 25, 'literature': 50, 'science': 100}
(<Cell 'Sheet1'.A9>, <Cell 'Sheet1'.B9>, <Cell 'Sheet1'.C9>, <Cell 'Sheet1'.D9>)
{'name': 'mark', 'math': 80, 'literature': 75, 'science': 80}
{'name': 'mark', 'math': 80, 'literature': 75, 'science': 80}
(<Cell 'Sheet1'.A10>, <Cell 'Sheet1'.B10>, <Cell 'Sheet1'.C10>, <Cell 'Sheet1'.D10>)
{'name': 'steve', 'math': 95, 'literature': 100, 'science': 95}
{'name': 'steve', 'math': 95, 'literature': 100, 'science': 95}
(<Cell 'Sheet1'.A11>, <Cell 'Sheet1'.B11>, <Cell 'Sheet1'.C11>, <Cell 'Sheet1'.D11>)
{'name': 'anna', 'math': 20, 'literature': 20, 'science': 20}
{'name': 'anna', 'math': 20, 'literature': 20, 'science': 20}

In [37]:
student_data

[{'literature': 65, 'math': 95, 'name': 'greg', 'science': 75},
 {'literature': 30, 'math': 25, 'name': 'john', 'science': 55},
 {'literature': 45, 'math': 50, 'name': 'yang', 'science': 40},
 {'literature': 65, 'math': 15, 'name': 'timothy', 'science': 90},
 {'literature': 100, 'math': 100, 'name': 'melisa', 'science': 100},
 {'literature': 15, 'math': 10, 'name': 'thor', 'science': 20},
 {'literature': 50, 'math': 25, 'name': 'elen', 'science': 100},
 {'literature': 75, 'math': 80, 'name': 'mark', 'science': 80},
 {'literature': 100, 'math': 95, 'name': 'steve', 'science': 95},
 {'literature': 20, 'math': 20, 'name': 'anna', 'science': 20}]

In [38]:
dic

{'literature': 20, 'math': 20, 'name': 'anna', 'science': 20}

In [42]:
for student in student_data:
    for k, v in student.items():
        print('{} : {}'.format(k, v).ljust(20), end = ' ')

name : greg          math : 95            literature : 65      science : 75         name : john          math : 25            literature : 30      science : 55         name : yang          math : 50            literature : 45      science : 40         name : timothy       math : 15            literature : 65      science : 90         name : melisa        math : 100           literature : 100     science : 100        name : thor          math : 10            literature : 15      science : 20         name : elen          math : 25            literature : 50      science : 100        name : mark          math : 80            literature : 75      science : 80         name : steve         math : 95            literature : 100     science : 95         name : anna          math : 20            literature : 20      science : 20

In [67]:
import openpyxl
import math
from functools import reduce

In [68]:
raw_data = {}
wb = openpyxl.load_workbook('class_1.xlsx')
ws = wb.active
g = ws.rows

In [69]:
for name, score in g:
    raw_data[name.value] = score.value

In [70]:
print(raw_data)

{'greg': 95, 'john': 25, 'yang': 50, 'timothy': 15, 'melisa': 100, 'thor': 10, 'elen': 25, 'mark': 80, 'steve': 95, 'anna': 20}

In [71]:
scores = list(raw_data.values())

In [72]:
scores

[95, 25, 50, 15, 100, 10, 25, 80, 95, 20]

In [90]:
#평균
avrg = reduce(lambda a,b :a + b, scores)/len(scores)

#분산
variance = round(reduce(lambda a,b : a+b , map(lambda s: (s-avrg)**2, scores))/len(scores),1)

# 표준편차 
std_dev = round(math.sqrt(variance), 1)

print("평균 :{}, 분산 : {}, 표준편차 : {}".format(avrg, variance, std_dev),'\n')

if avrg < 50 and std_dev > 20:
    print("성적이 너무 저조하고 학생들의 실력차이가 너무 크다.")
elif avrg > 50 and std_dev > 20:
    print("성적은 평균 이상이지만 학생들 실력 차이가 크다. 주의 요망!")
elif avrg < 50 and std_dev <20:
    print("학생들간 실력차이는 나지 않으나 성적이 너무 저조하다. 주의 요망!")
elif avrg > 50 and std_dev<20:
    print("성적도 평균 이상이고 학새읃ㄹ의 실력차도 크지 않다.")

평균 :51.5, 분산 : 1240.2, 표준편차 : 35.2

성적은 평균 이상이지만 학생들 실력 차이가 크다. 주의 요망!

35.2

Help on built-in function round in module builtins:

round(...)
    round(number[, ndigits]) -> number

    Round a number to a given precision in decimal digits (default 0 digits).
    This returns an int when called with one argument, otherwise the
    same type as the number. ndigits may be negative.

In [91]:
# class는 템플릿이다.(붕어빵 틀) : 무언가를 찍어내는 틀이다..?
class Account: # class의 구조임. class 함수이름(캐피털라이징함. 첫문자는 대문자)
    
    # 생성자
    # 맴버의 초기화 진행?
    def __init__(self, name, money): # self 가 하는 의미가 있지만. 나중에 하고 __는 파이썬이 예약해놓은 문자
        #instance member : 연관 있는 변수
        self.user = name
        self.balance = money
    
    
    def __del__(self):
        pass
    
        # 소멸자
        # 주 목적은 메모리의 해제
        # 거의 쓰이지 않음
        
    # instance method : 연관 있는 함수들의 모임.
    def deposit(self, money):
        if money <= 0:
            return None # 여기서부터 인터페이스 설계하는거임 None, True, False
        else:
            self.balance += money
            return self.balance
    
    def withdraw(self, money):
        '''
        obj.withdraw(self, money) -> bool -> 객체 함수라는걸 표현하기위해서..
        '''
        if money <= self.balance:
            self.balance -= money # 얼마를 뽑앗다..
            return True
        else:
            return False
        
    '''   
    def __str__(self):
        return '{}, {}'.format(self.user, self.balance)
    '''

In [93]:
my = Account('min', 1000)
you = Account('jun', 2000)

In [94]:
my

In [96]:
type(my.deposit)

method

In [97]:
type(Account.deposit)

function

In [98]:
my.deposit(300)

1300

In [100]:
Account.deposit(you, 500)

2500

In [139]:
class Account:
    #class member
    name = 'Good life'
    interest_rate = 7.0
    kind = 'demand deposit'

    
    @classmethod 
    def get_account_info(cls):
        return cls.name, cls.interest_rate, cls.kind
    
    def __init__(self, name, money):
        #object member
        self.user = name
        self.balance = money

    #destructor
    def __del__(self):
        pass

    #object methord
    def deposit(self, money):
        if money < 0:
            return
        self.balance += money
        print("your money is : {}".format(self.balance))

    def withdraw(self, money):
        if money > 0 and money <= self.balance:
            self.balance -= money
            return self.balance
        else:
            return None
        
    def transfer(self, other, money):
        mon = self.withdraw(money)
        
        if mon:
            other.deposit(mon)
            return True
        
        else:
            return False
    def __str__(self):
        return 'user : {}, balance : {}'.format(self.user, self.balance)

In [132]:
my = Account('min', 2000)
you = Account('jun', 1000)

In [133]:
my.deposit(300)
you.deposit(500)

your money is : 2300
your money is : 1500

In [134]:
my.withdraw(300)

2000

In [135]:
my.transfer(you, 400)

your money is : 3100

True

In [136]:
you.balance
my.balance

1600

In [143]:
help(property)

Help on class property in module builtins:

class property(object)
 |  property(fget=None, fset=None, fdel=None, doc=None) -> property attribute
 |
 |  fget is a function to be used for getting an attribute value, and likewise
 |  fset is a function for setting, and fdel a function for del'ing, an
 |  attribute.  Typical use is to define a managed attribute x:
 |
 |  class C(object):
 |      def getx(self): return self._x
 |      def setx(self, value): self._x = value
 |      def delx(self): del self._x
 |      x = property(getx, setx, delx, "I'm the 'x' property.")
 |
 |  Decorators make defining new properties or modifying existing ones easy:
 |
 |  class C(object):
 |      @property
 |      def x(self):
 |          "I am the 'x' property."
 |          return self._x
 |      @x.setter
 |      def x(self, value):
 |          self._x = value
 |      @x.deleter
 |      def x(self):
 |          del self._x
 |
 |  Methods defined here:
 |
 |  __delete__(self, instance, /)
 |      Delete an attribute of instance.
 |
 |  __get__(self, instance, owner, /)
 |      Return an attribute of instance, which is of type owner.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __set__(self, instance, value, /)
 |      Set an attribute of instance to value.
 |
 |  deleter(...)
 |      Descriptor to change the deleter on a property.
 |
 |  getter(...)
 |      Descriptor to change the getter on a property.
 |
 |  setter(...)
 |      Descriptor to change the setter on a property.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __isabstractmethod__
 |
 |  fdel
 |
 |  fget
 |
 |  fset

IndentationError: unexpected indent (<ipython-input-144-6740a3967a3b>, line 2)

In [184]:
class Person:
    def __init__(self, money):
        self._m = money
        
    @property
    def money(self):
        print('getter')
        return self._m
    
    @money.setter
    def money(self, money):
        print('setter')
        self._m = money
        
@money.getter
    def money(self, money, name):
        print(name)
        print(self._m)

In [170]:
if __name__ =="__main__":
    p1 = Person(1000)

In [171]:
if __name__ =="__main__":
    p1.money = 3000

setter

In [181]:
p1 = Person(1000)

In [185]:
p1.money

getter

1000

In [186]:
p1.money(2000)

getter

TypeError: 'int' object is not callable

In [187]:
p1.money(2000, 'min')

getter

TypeError: 'int' object is not callable

In [188]:
from abc import *

#추상 클래스
#인스턴스를 만들 수 없다.
#인터페이스를 제공한다.
class Animal(metaclass = ABCMeta):
    @abstractmethod
    def say(self):
        pass

class Dog(Animal):
    def say(self):
        print('BOW-WOW')

class Cat(Animal):
    def say(self):
        print('MEW MEW')

class Duck(Animal):
    def say(self):
        print('QUACK QUACK')
    
if __name__ == "__main__":
    animals = []
    
    animals.append(Dog())
    animals.append(Cat())
    animals.append(Duck())

    #어떤 동물인지 알 필요 없다.
    #객체에 따라 그에 맞는 메서드가 호출됨
    for animal in animals:
        animal.say()

BOW-WOW
MEW MEW
QUACK QUACK

In [209]:
# 위의 방법이랑 이어서 

class Point:
    def __init__(self, x = 0, y= 0 ): # x, y 를 디폴트 값으로 0을 선언할수 있음.
        self.x = x
        self.y = y
        
    def get_point(self):
        return self.x, self.y # 즉, 튜플로 던지는거임
    
    def set_point(self, x, y):
        self.x = x
        self.y = y
        
    # __add__ 를 추가함
    def __add__(self, other):
        _x = self.x + other
        _y = self.y + other
        return Point(_x, _y)
        
    def __radd__(self, other): # 이걸 넣어서 된거임
        return self.__add__(other)
    
    def __str__(self):
        
        return '({}, {})'.format(self.x, self.y)

In [210]:
p1  =Point()

In [211]:
p1

In [212]:
p1.get_point()

(0, 0)

In [213]:
p1.set_point(1,1)

In [214]:
p1.get_point()

(1, 1)

In [215]:
p2 = p1 + 2

In [216]:
p2

In [217]:
p2.get_point()

(3, 3)

In [218]:
p3 = 2 + p2

In [220]:
p3.get_point()

(5, 5)

In [221]:
class Person:
    def __init__(self, money):
        self._m = money

    @property
    def money(self):
        print('getter')
        return self._m

    @money.setter
    def money(self, money):
        print('setter')
        self._m = money

if __name__ == "__main__":
    p1 = Person(1000)
    #setter 호출
    p1.money = 3000
    #getter 호출 
    m = p1.money
    print(m)

setter
getter
3000