In [100]:
#Month Hall 문제 반복하기

import random
# 렌덤하는 모듈을 가져옴
stay = 0
switch = 0
#각각 변수들을 0으로 선언 해줌.

for i in range(1000):
    #range(숫자)를 넣으면 1000번 실행하겠다임. (1,1000) 은 1에서 1000까지라는 의미인데, 다름
    #0 부터 1000개중 한번뽑는것을 1000번 한다
    doors = [1, 0, 0]
    #door 뒤에 염소2마리, 차 1개 
    
    random.shuffle(doors)
    #door 뒤에 염소와 차를 한번뽑을때 마다 섞어줌.
    
    choice = random.randrange(3)
    # 맨처음에 문을 선택하는것도 랜덤하게 고르는것. 그명령어가 random.randrange
    
    user = doors[choice]
    #user 가 몇번째 문의 염소 또는 차를 저장해놓아줌.
    
    if user == 1:
        stay = stay + 1
    else:
        switch = switch + 1
        
        
print("stay: %4d" % stay)
print("switch: %4d" % switch)
# 결론은 확률에서 승리하는 것인데, 차, 염소 세가지를 섞었을때, 그리고 세가지 문중 하나를 섞었을때.
# 나오는 결과들.. 이거 집에서 다시 한번 해보자

stay:  334
switch:  666

In [20]:
numbers = str(input("two nums with space")).split()
# 스플릿에 괄호안에 아무것도 안넣으면 그냥 짜름

result = 0
#결과값 변수

#나누고 곱하는 두가지 변수를 num1,2로 선언함

num1 = int(numbers[0])
#numbers의 정보값이 '0' 번째의 값이 첫번째 이다. int()정수로 바꾸는것..
num2 = int(numbers[1])

#이렇게 선언해놓고 판단하고. 계산하고

while num1 >= 1:
    if num1 % 2 == 0:
        print("%4d 7%d struck" % (num1, num2))
    else:
        print("%4d, %7d keep" % (num1, num2))
        result = result + num2
        
        
    num1 = num1 // 2
    num2 = num2 * 2
    
print(result)

two nums with space5 5
   5,       5 keep
   2 710 struck
   1,      20 keep
25

In [26]:
ns = str(input("aaaaaa")).split()
# 뒤에 스플릿을 붙여줌으로써 내가 적는 숫자가 리스트화 되서 값이 됨..
print(ns)

re = 0

nu1 = int(ns[0])
nu2 = int(ns[1])

print(nu1)
print(nu2)

## 아.. 이런식으로 튀어나와서 연산이 되는거구나.

aaaaaa1 5
['1', '5']
1
5

In [29]:
ns = str(input("aaa"))
print(ns)

aaa5 10
5 10

In [40]:
dict1 = {}

#요소를 추가하고싶을때는 대괄호를 사용하고 따움표를 넣음.
dict1['korean'] = 100
dict1
# dict1에 코리아라는 값을 100으로 넣고 dict1 이라고 출력함.

{'korean': 100}

In [57]:
dict2 = {'korean':100, 'math':80, 'science':[50,45,20,15]}
#키 벨류는 요소와 요소 사이를 구분 지을때는 콤마, 그 요소 안에서 키와 벨류를 구분지을때는 콜론
dict2

dict2['history'] = 70

dict2

del dict2['history']
#위에 코드에 history를 추가했는데, dle 명령어를 사용해서, 키와 벨류를 지움.
#딕셔너리의 장점은 데이터 타입을 가리지 않음. 문자, 숫자 상관없이 입력가능
dict2

# 리스트랑 딕셔너리랑 다르구나~ 다른점들은 중괄호를 사용하고, 그리고 추가, 삭제, 찾기 가 조금더 수월하다

dict2['math']

80

In [61]:
dict2.keys()

dict_keys(['korean', 'math', 'science'])

In [62]:
dict2.values()

dict_values([100, 80, [50, 45, 20, 15]])

In [63]:
dict2.items()
# 튜플로 튀어나오는 이유는 키와벨류 하나로 되어 있기 때문이다. 튜플의 특성 생각.

dict_items([('korean', 100), ('math', 80), ('science', [50, 45, 20, 15])])

In [67]:
A = fastcampus

dict1 = A

NameError: name 'fastcampus' is not defined

In [69]:
#집합 연산을 도와주는 자료형은 Set

ppap = {'pen', 'pineapple', ' apple', 'pen'}
# 중괄호를 사용하면 중복되어 있는 자료값은 삭제하여 출력함. 
# 일반 대괄호를 사용하면 모두다 출력함.
ppap

{' apple', 'pen', 'pineapple'}

In [72]:
'pen' in ppap
# ppap 안에 pen이 들어있으면 True 없으면 False

True

In [71]:
'aaaa' in ppap

False

In [74]:
pineapple = set('pineapple')
pineapple
# pineapple 로 중복되어 있는 것들을 다 삭제하고 한가지만 출력함..?

{'a', 'e', 'i', 'l', 'n', 'p'}

In [93]:


A = set('fastcampus')
B = set('python')
# set은 작성한 총단어에서 중복되어 있는 단어들을 떨어낸 값을 출력함.

print(A | B)
print(A & B)
print(A - B)
print(A ^ B)

# 집합처럼 사용할수 있음. 이것들 이용해서 데이터 분석이 가능하다.. 각각 명령어들 사용하는 문법들을 익히는게 파이썬을
# 잘 사용하는 방법이다.
# 프린트 명령어와 그냥 명령어의 차이점은 맨 마지막을 출력하느냐, 아니면 프린트 하고 괄호를 씌어준 모든것을 출력하느냐의 차이이다.

{'h', 'p', 't', 'f', 's', 'm', 'y', 'c', 'a', 'u', 'o', 'n'}
{'p', 't'}
{'f', 'm', 's', 'c', 'a', 'u'}
{'f', 's', 'y', 'n', 'h', 'm', 'c', 'a', 'u', 'o'}

In [116]:
old_list = [1, 2, 3, 4, 5]

dd_list = []
#일단 빈 리스트를 선언함. 
for i in old_list:
    dd_list.append(i * 2)
    
    #append의 쓰임새 확인하기.
    
dd_list

# 애초에 old_list라고 리스트를 만들고. 

그것을 for을 사용해서 원래 있던 리스트에 어떤 값을 주어서 그 안에 있던 값들을 변경 시키는 리스트가 완성됨.

[2, 4, 6, 8, 10]

In [118]:
dd_list = [i * 2 for i in old_list]

dd_list

[2, 4, 6, 8, 10]

In [119]:
dd_list = [i * 2 for i in old_list]

# 원래 가지고 있던 리스트에 새로운 값을 넣어서 리스트를 변경할수 있는 과정이 축소됨.
dd_list

[2, 4, 6, 8, 10]

In [124]:
old_list = [1, 2, 3, 4, 5]

dd_list = []

for i in old_list:
    if i % 2 == 0:
        dd_list.append(i * 2)
        
dd_list

[4, 8]

In [126]:
dd_list = [i * 2 for i in old_list if i % 2 ==0]

dd_list

[4, 8]

In [145]:
old_list = [range(1, 100+1)]

dd_list = []

In [151]:
for i in range(1, 100+1):
    if i % 15 == 0:
        print("fizzbuzz")
    elif i % 3 == 0:
        print("fizz")
    elif i % 5 == 0:
        print("buzz")
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [163]:
ol_list = range(1, 15+1)

dd_list = []

for i in range(1, 15+1):
    if i % 3 == 0 or i % 5 == 0: 
        print("fizz"*(i % 3 == 0 ) + "buzz"*(i % 5 == 0))
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz

In [161]:
dd_list = ["fizz"*(i % 3 == 0 ) + "buzz"*(i % 5 == 0) or i for i in range(1, 100+1)]

dd_list

[1,
 2,
 'fizz',
 4,
 'buzz',
 'fizz',
 7,
 8,
 'fizz',
 'buzz',
 11,
 'fizz',
 13,
 14,
 'fizzbuzz',
 16,
 17,
 'fizz',
 19,
 'buzz',
 'fizz',
 22,
 23,
 'fizz',
 'buzz',
 26,
 'fizz',
 28,
 29,
 'fizzbuzz',
 31,
 32,
 'fizz',
 34,
 'buzz',
 'fizz',
 37,
 38,
 'fizz',
 'buzz',
 41,
 'fizz',
 43,
 44,
 'fizzbuzz',
 46,
 47,
 'fizz',
 49,
 'buzz',
 'fizz',
 52,
 53,
 'fizz',
 'buzz',
 56,
 'fizz',
 58,
 59,
 'fizzbuzz',
 61,
 62,
 'fizz',
 64,
 'buzz',
 'fizz',
 67,
 68,
 'fizz',
 'buzz',
 71,
 'fizz',
 73,
 74,
 'fizzbuzz',
 76,
 77,
 'fizz',
 79,
 'buzz',
 'fizz',
 82,
 83,
 'fizz',
 'buzz',
 86,
 'fizz',
 88,
 89,
 'fizzbuzz',
 91,
 92,
 'fizz',
 94,
 'buzz',
 'fizz',
 97,
 98,
 'fizz',
 'buzz']

In [165]:
1 % 3 == 0

# % 모듈러스 연산자는 나누고 남은 나머지값이고, if 조건문에서 내가 준 조건이 맞으면, true, 그렇지 않으면 false 이다. 
# 그런데. 프로그래밍에서 1은 true 이다. 그래서 1 * fazz가 연산이 되어서 fazz가 튀어 나온다.

False

In [169]:
a = 2 % 5
a

2

In [170]:
b = 5 % 2
b

1

In [180]:
c62 = 6 % 2
print(c62)
c26 = 2%6
# 굳이 나누려고 하려고 하는게, 나누기를 해서 나눈 나머지값을 보는게 중요함..! 6에서 2를 나눌수가 없으니까. 그냥 2가 나머지로 내려옴.
 
print(c26)

0
2

In [173]:
d = 2 % 6
d

2

In [176]:
e = 5 / 2 
e

2.5

In [178]:
e = 2 / 5
e

0.4